.App {
	text-align: center;
	display: grid;
	grid-template-columns: 2fr 6fr 2fr;
	grid-template-rows: 3fr 1fr 10fr 5fr;
	grid-template-areas: '. header .' '. drop-down-box .' '. mapid .' '. info-section .';
}
header {
	grid-area: header;
}

.drop-down-box {
	grid-area: drop-down-box;
}

.info-section {
	grid-area: info-section;
}

.mapid {
	grid-area: mapid;
	height: 300px;
}
